* {
  margin: 0;
  padding: 0;
}
#pond {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-start;
}
header {
  position: fixed;
  width: 1300px;
  /* height: 60px; */
  /* display: flex; */
  align-items: center;
}
main {
  /* align-items: center; */
  /* justify-content: flex-start; */
  flex-direction: row;
}
.c {
  justify-content: flex-start;
}
.m {
  flex-flow: row wrap;
  justify-content: flex-start;
  justify-content: center;
}
.logo {
  /* align-items: center; */
}
.c img {
  width: 100px; /* 원하는 너비 설정 */
  height: auto; /* 비율에 맞게 높이 자동 조절 */
}
.tcolor {
  color: #b3a6df;
}
